.audio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: auto;
    row-gap: 80px;
    align-items: center;
}

.audio audio {
    width: 75%;
    max-width: 400px;
    margin-bottom: 15px;
}

.audio audio:active {
    transform: scale(0.97);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    outline: none;
}

#choose,
#record {
    height: 70px;
    width: 170px;
    font-size: 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    background-color: rgb(237, 227, 247);
    cursor: pointer;
    transition: all 0.2s ease;
}

#choose:hover,
#record:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(220, 200, 255);
}

#choose:active,
#record:active {
    transform: translateY(2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    background-color: rgb(200, 180, 240);
}


@media (max-width: 500px) {
    .audio-grid {
        grid-template-columns: 1fr;
    }
}

.audio-grid div {
    font-size: 25px;
}

@media (min-width: 201px) and (max-width: 500px) {
    .audio-grid div {
        font-size: 17px;
    }
}

@media (max-width: 200px) {
    .audio-grid div {
        font-size: 15px;
    }
}

