.audio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.audio audio{
    width: 75%;
    max-width: 500px;
    margin-bottom: 15px;
}

@media (max-width: 500px) {
    .audio-container {
        grid-template-columns: 1fr;
    }
}

.audio-container div {
    font-size: 25px;
}

@media (max-width: 200px) {
    .audio-container div {
        font-size: 15px;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .audio-container div {
        font-size: 17px;
    }
}
