body {
    /* This style below will be inherited */
    font-family: Roboto, Arial;
    background-image: url("../assets/images/background.webp");
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

main {
    display: grid;
    grid-template-rows: 2fr 1.3fr 1.2fr;
    height: 100vh;
    text-align: center;
}
