.model-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 300px;
    width: 100%;
    background: rgb(237, 227, 247);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(80,80,120,0.07);
    font-size: 20px;
    gap: 10px;
}

.model-select {
    flex: 1;
    font-size: 18px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    background-color: rgb(240, 240, 240);
    padding: 10px;
    width: 100%;
    outline: none;
    transition: border 0.2s;
}

.model-select:focus {
    border: 1px solid #6a0dad;
    box-shadow: 0 0 5px rgba(106, 13, 173, 0.5);
}
