<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>LASS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/style/audio.css">
        <link rel="stylesheet" href="../static/style/button.css">
        <link rel="stylesheet" href="../static/style/general.css">
        <link rel="stylesheet" href="../static/style/header.css">
        <link rel="stylesheet" href="../static/style/input.css">
        <link rel="stylesheet" href="../static/style/model-input.css">
        <link rel="stylesheet" href="../static/style/text-input.css">
    </head>
    <body>
        <h1 class="title">Language-Queried Sound Separation</h1>
        <main>
            <section class="input">
                <div class="model-input">
                    <label for="model">Choose Model</label>
                    <select name="model" id="model" class="model-select">
                        <option selected value="Rectified Flow Matching">Rectified Flow Matching</option>
                        <option value="Model1">model1</option>
                        <option value="Model2">model2</option>
                    </select>
                </div>
                <div class="text-input">
                    <input class="text-input-bar" type="text" placeholder="Input Text">
                    <button class="text-button">
                        <img class="text-button-icon" src="../assets/icons/text.png">
                        <div class="tooltip">Input Text</div>
                    </button>
                </div>
            </section>
            <section class="audio-grid">
                <div class="audio-input-item">
                    <input type="file" id="fileInput" accept="audio/*" style="display:none">
                    <button id="choose">🎵 Choose Audio</button>
                </div>
                <div class="audio-input-item">
                    <button id="record">🎤 Record Audio</button>
                </div>
                <div class="audio">
                    <audio src="../assets/audios/demo1.wav" controls></audio>
                    <div>Original Audio</div>
                </div>
                <div class="audio">
                    <audio src="../assets/audios/demo2.wav" controls></audio>
                    <div>Result Audio</div>
                </div>
            </section>
            <section class="start">
                <button id="start-button" class="start-button">
                    <img src="../assets/icons/start-icon.svg" alt="Start" class="start-icon">
                </button>
            </section>
        </main>
    </body>
</html>
